{% extends 'dataviewer/base.html' %}

{% block page %}
<script>
    {%
        set
        package = c.package
        or
        h.get_action('package_show', {"id": c.id}) %}
    {%
        if package.spatial %}
    var spatial = '{{ package.spatial.replace("\n","")|safe }}';
    {% else %}
    var spatial = '';
    {%
        endif %}
</script>
<div>
    <pre data-module="cesiumpreview">
      <div class="loading">
          {{ _('Loading...') }}
      </div>
    </pre>
</div>

{% resource 'ckanext-cesiumpreview/main' %}
{% endblock %}
